<div class="conversation-create-off-canvas absolute left-0 top-0 w-0 h-[90vh] transition-[weight] duration-700 ease-out bg-dark-color invisible overflow-y-scroll">
    <div class="flex gap-3 items-center text-color p-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-pointer conversation-create-off-canvas-close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
          </svg>
          <h2 class="text-2xl font-bold">Conversation Create</h2>                                      
    </div>
    <div class="flex flex-col text-color" >
        <div class="p-3">
            <div class="flex gap-4 items-center w-full bg-light-color rounded-md px-3 py-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                <input type="text" placeholder="Search" class="bg-transparent focus:outline-none border-none" id="conversation-search-input" />
            </div>
        </div>
        <div id="conversation-users-placeholder">
            <div class="flex items-center justify-center h-full gap-3 p-2 sm:px-3 py-2 h-14 text-soft-color hover-bg-light-color cursor-pointer last:border-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-soft-color cursor-pointer hover:text-color">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                <h2 class="conversation-searched-placeholder">Search to create a conversation</h2>
            </div>
        </div>
        <div id="conversation-users-list">
        </div>
        <!-- <div class="flex items-center gap-3 p-2 sm:px-3 py-2 h-14 text-soft-color hover-bg-light-color cursor-pointer last:border-none">
            <div>
                <img src="./images/logo.png" alt="" class="w-10 h-10 rounded-full">
            </div>
            <div class="sm:flex items-center justify-between w-full border-b border-gray-200/40 py-1 leading-normal chat-content-info">
                <div>
                    <h3 class="text-md font-bold">Mr Anonymous</h3>
                    <span class="text-sm text-gray-300">Hi ! Mr Anonymous</span>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-3 p-2 sm:px-3 py-2 h-14 text-soft-color hover-bg-light-color cursor-pointer">
            <div>
                <img src="./images/logo.png" alt="" class="w-10 h-10 rounded-full">
            </div>
            <div class="sm:flex items-center justify-between w-full border-b border-gray-200/40 py-1 leading-normal chat-content-info">
                <div>
                    <h3 class="text-md font-bold">Jhon Due</h3>
                    <span class="text-sm text-gray-300">I'm fine.</span>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-3 p-2 sm:px-3 py-2 h-14 text-soft-color hover-bg-light-color cursor-pointer">
            <div>
                <img src="./images/logo.png" alt="" class="w-10 h-10 rounded-full">
            </div>
            <div class="sm:flex items-center justify-between w-full border-b border-gray-200/40 py-1 leading-normal chat-content-info">
                <div>
                    <h3 class="text-md font-bold">Mr Anonymous</h3>
                    <span class="text-sm text-gray-300">Hi ! Mr Anonymous</span>
                </div>
            </div>
        </div> -->
    </div>
</div>

<script>
    // conversation create off canvas menu start
    const conversation_create_btn = document.querySelector(".conversation-create-btn");
    const conversation_create_btn_from_profile = document.querySelector(".conversation-create-btn-from-profile");
    const conversation_create_off_canvas = document.querySelector(".conversation-create-off-canvas");
    const conversation_create_off_canvas_close = document.querySelector(".conversation-create-off-canvas-close");
    // close conversation create off canvas menu
    conversation_create_off_canvas_close.addEventListener("click", function(){
        conversation_create_off_canvas.classList.remove('w-[95vw]', 'visible');
        conversation_create_off_canvas.classList.add('invisible');
    });
    // conversation create off canvas menu end

    // conversation off canvas menu toggle
    conversation_create_btn.addEventListener("click", function(){
        if(conversation_create_off_canvas.classList.contains('invisible')){
            conversation_create_off_canvas.classList.remove('invisible');
            conversation_create_off_canvas.classList.add('w-[95vw]', 'sm:w-full', 'visible', 'z-10');
        }else{
            conversation_create_off_canvas.classList.remove('w-[95vw]', 'sm:w-full', 'z-10');
            conversation_create_off_canvas.classList.add('invisible');
        }
    });
    conversation_create_btn_from_profile.addEventListener("click", function(){
        if(conversation_create_off_canvas.classList.contains('invisible')){
            conversation_create_off_canvas.classList.remove('invisible');
            conversation_create_off_canvas.classList.add('w-[95vw]', 'sm:w-full', 'visible', 'z-10');
        }else{
            conversation_create_off_canvas.classList.remove('w-[95vw]', 'sm:w-full', 'z-10');
            conversation_create_off_canvas.classList.add('invisible');
        }
    });

    const conversation_users_placeholder = document.querySelector("#conversation-users-placeholder");
    const conversation_users_list = document.querySelector("#conversation-users-list");
    const conversation_search_input = document.querySelector("#conversation-search-input");
    const conversation_searched_placeholder = document.querySelector(".conversation-searched-placeholder");
    let typingTimer;
    const doneTypingInterval = 500;

    conversation_search_input.addEventListener('keyup', function(){
        console.log(conversation_search_input.value);
        clearInterval(typingTimer);
        conversation_searched_placeholder.textContent = 'Search to create a conversation';
        conversation_searched_placeholder.classList.remove('text-red-500');
        if(conversation_search_input.value){
            typingTimer = setTimeout(searchUsers, doneTypingInterval);
        }
    });

    conversation_search_input.addEventListener("keydown", function(){
        clearInterval(typingTimer);
    });

    async function searchUsers(){
        let response = await fetch('/inbox/search', {
            method: "POST",
            body: JSON.stringify({user: conversation_search_input.value}),
            headers: {"content-type": "application/json; charset=UTF-8"},
        });

        const result = await response.json();
        if(result.errors){
            conversation_searched_placeholder.textContent = result.errors.common.msg;
            conversation_searched_placeholder.classList.add('text-red-500');
        }else{
            conversation_users_placeholder.classList.add('hidden');
            if(result.length > 0){
                conversation_users_list.classList.remove('hidden');
                let generateHtml = "";
                result.forEach((user) => {
                    let avatar = user.avatar ? `./uploads/avatars/${user.avatar}` : './images/nophoto.png';
                    generateHtml += `<div class="flex items-center gap-3 p-2 sm:px-3 py-2 h-14 text-soft-color hover-bg-light-color cursor-pointer">
                            <div>
                                <img src="${avatar}" alt="${user.name}" class="w-10 h-10 rounded-full">
                            </div>
                            <div class="sm:flex items-center justify-between w-full border-b border-gray-200/40 py-1 leading-normal chat-content-info">
                                <div>
                                    <h3 class="text-md font-bold">${user.name}</h3>
                                    <span class="text-sm text-gray-300">I'm fine.</span>
                                </div>
                            </div>
                        </div>`;

                });
                conversation_users_list.innerHTML = generateHtml;
            }else{
                conversation_users_list.classList.add('hidden');
                conversation_users_placeholder.classList.remove('hidden');
                conversation_searched_placeholder.textContent = `User not found of search: ${conversation_search_input.value} query`;
            }
        }
    }

</script>