<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof loggedInUser !== 'undefined' && loggedInUser && loggedInUser.user_id) { %>
        <meta name="userId" content="<%= loggedInUser.user_id %>">
    <% } %>
    <title><%= title %></title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="./stylesheet/style.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module"> 
        import heroicons from https://cdn.jsdelivr.net/npm/heroicons@2.1.3/+esm 
    </script>
    <script src="./js/moment.js"></script>
    <script>
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-top-right',
            timeOut: 5000
        };
    </script>
    <script>
        const savedTheme = localStorage.getItem("selectedTheme") || "default";
        document.documentElement.className = savedTheme + "-theme";
    </script>
</head>
<body class="app-body">
